@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pacifico&display=swap');

.my_info {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    width: 100%;
}

.personal_text {
    margin-left: 24px;
    background-image: linear-gradient(90deg, #b9deed, #efefef);
    padding: 4px 30px;
    border-radius: 10px;
}

.invisible_photo {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 35px;
    width: 200px;
    left: -204px;
}

.my_photo, .my_photo1 {
    border-radius: 22px;
    box-shadow: 0px 2px 14px rgb(123, 123, 123);
    transition: all 2s;
    margin-right: 35px;
}

.my_photo {
    position: relative;
    box-shadow: none;
    left: 200px;
    margin: 0;
    padding: 0;
    animation: mirage 2s ease infinite paused;
}

.my_photo:active {
    animation-play-state: running;  
}

@keyframes mirage {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    color: rgb(40, 69, 78);
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Balsamiq Sans';
}

.future {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}

.main {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
}

.vk {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 33px;
    background-color: rgba;
    padding: 20px 20px;
    transition: all 0.39s;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
}

.vk:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    animation: vk_anim 1.1s ease infinite;
}

@keyframes vk_anim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}

a {
    text-decoration: none;
    color: rgb(150, 208, 246);
}

.second {
    margin-top: 20px;
}

.text_changer {
    word-spacing: 20px;
    margin-top: 30px;
}

h2 {
    font-style: italic;
}

.git {
    background-image: linear-gradient(45deg, #e66465, #ebc065, rgb(102, 230, 230), #b6bae5);
    background-size: 200%;
    padding: 2em;
    border-radius: 5px;
    color: white;
    animation: gradient 1s ease infinite paused;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
}

.git:hover {
    animation-play-state: running;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

@media (max-width: 1030px) {
    .my_info {
        display: block;
    }

    .invisible_photo {
        width: 40%;
        height: 40%;
        gap: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        justify-content:center;
    }

    .my_photo, .my_photo1 {
        box-shadow: none;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .my_photo {
        left: -2%;
    }

    .my_photo1 {
        right: -50%;
    }

    .personal_text {
        margin-top: 10px;
    }
    
    .vk {
        width: 80px;
        height: 25px;
        margin-left: 5px;
        font-size: 130%;
    }

    .vk:hover {
        animation: none;
    }

    .git:hover {
        animation: none;
    }

    .my_photo:active {
        animation: none;
    }
}

@media print {
    .my_photo {
        animation: none;
        opacity: 1;
    }

    h1 {
        color: #e66465;
    }

    a, .git {
        color: black;
    }

    p, .text_changer, .future, .main, .personal_text {
        font-size: 15px;
        padding: 0;
        font-style: normal;
        font-weight: 500;
        word-spacing: 2px;
        margin: 0;
    }

    .vk, .git {
        text-align: left;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        font-size: 100%;
    }
}